body {
    background-image: url('imagens/fundo.png');
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.center {
    margin: auto;
    text-align: center;
}

/*--------------- links ---------------*/
a {
    text-decoration: none;
    color: white;
    margin: 20px;
    margin-top: -1%;
}

.topo a:hover {
    background: white;
    color: black;
    text-decoration: none;
    border-radius: 4px;
}

.topo a:active {
    color: rgb(255, 34, 34);
    background: white;
}

/* --------------- header ---------------*/

.topo {
    background: black;
    width: 100%;
    text-align: center;
    color: white;
    border-radius: 15px;
    padding: -50px;
}

/*--------------- section ---------------*/

.container {
    width: 95%;
    margin: 25px auto;
    padding: 1%;
}

.imagens {
    padding: 15px;
}

.imagens .img {
    border: 3px black solid;
    margin: 10px;
    border-radius: 15px;
}